.terraform.lock.hcl
.terraform/*
invfile*
*.pem
ansible_inventory.ini
*.ini
devops.pem:Zone.Identifier
:Zone.Identifier
terraform.tfvars
.tfvars
.vscode
redis.conf_backup*
ansible.cfg
*.cfg
.vault_pass
aws_creds
aws_config
users_list